<app-admin-nav></app-admin-nav>
<div class="container" id="addProductBody">
    <div class="row">
        <div class="col-md-4">
            <img 
            id="productImage"
            src="../../../assets/images/addproduct.svg" width="100%" alt="">
        </div>
        <div class="col-md-4">
            <div class="alert alert-primary text-white text-center" id="productHeader">
                Add new product
              </div>
            <form #myForm="ngForm" (ngSubmit)="addproduct(myForm,name.value,price.value,description.value,url.value, quantity.value);myForm.reset()">
              <div class="form-group">
                  <input #name type="text" id="productName" class="form-control" placeholder="Enter product name" required>
                </div>
                <div class="form-group">
                  <input #price type="text" id="productPrice" class="form-control" placeholder="Enter price" required>
                </div>
                <div class="form-group">
                  <textarea #description class="form-control" id="description" placeholder="Enter Description" row="2" required></textarea>
                </div>
                <div class="form-group">
                  <input #url type="text" class="form-control" id="imageURL" placeholder="Enter image URL" required>
                </div>
                <div class="form-group">
                  <input #quantity type="number" class="form-control" id="quantity" placeholder="Enter Quantity" required>
                </div>
                <button id="addProductButton" type="submit" class="btn btn-primary">Add</button>
              </form>
        </div>
    </div>
  </div>
